---
const { cite, author, work, medium } = Astro.props;

const attribution = work
  ? `${author}, <cite class=${medium}>${work}</cite>`
  : author;
---

<blockquote cite={cite}>
  <div class="quote">
    <slot />
  </div>
  <p class="attribution" set:html={attribution} />
</blockquote>

<style>
  blockquote {
    background-color: var(--text-color);
    color: var(--background-color);

    margin: 0;
    border-radius: 0.15em;
    padding: 1em;
    display: grid;
    grid-template-rows: 1fr;
  }

  .quote {
    font-size: var(--font-large);
    font-weight: 300;
    font-variation-settings: "wdth" 70;
  }

  .attribution {
    font-size: var(--font-small);
    text-align: right;
  }
</style>
