---
const { cite, author, work, medium } = Astro.props;

const attribution = work
  ? `${author}, <cite class=${medium}>${work}</cite>`
  : author;
---

<blockquote cite={cite}>
  <div class="quote">
    <slot />
  </div>
  <p class="attribution" set:html={attribution} />
</blockquote>

<style>
  blockquote {
    color-scheme: light dark;
    --accent: light-dark(#999, #595959);
    --background: light-dark(#efefef, #252525);

    background-color: var(--background);
    border-color: var(--accent);
    border-style: solid none;
    border-width: 0.01em;

    margin: 2rem 0;
    padding: 1em;
    display: grid;
    grid-template-rows: 1fr;
  }

  div {
    font-size: var(--font-large);
    font-weight: 200;
    font-variation-settings: "wdth" 62.5;
  }

  .attribution {
    font-size: var(--font-small);
    font-weight: 100;
    text-align: right;
  }
</style>
